
	.owl-stage {
		display: flex;
	}
	.owl-item {
		display: flex;
		flex: 1 0 auto;
	}
	.thumbnail {
		display: flex;
		flex-direction: column;
		margin: 0 15px;
		
	}

    .caption {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
    }

    .flex-text {
        flex-grow: 1;
    }



